<h1>teatpage</h1>
<%= link_to "新規会員登録", new_user_registration_path, class: "btn btn-success" %>
<%= link_to "ログイン", new_user_session_path, class: "btn btn-success" %>
<p>まず会員登録お願いします</p>
<p>会員登録済みの方は下のログインボタンからアクセス願います</p>
<p>コメントテスト機能、いいね機能が実装されております</p>
<p>画像入力機能も実装予定です</p>