<h3>タイトル投稿ページ</h3>
　<p>ユーザー通しでコメントのやり取りが可能です</p>
　<p>いいねの数、コメントの数でのソート機能を実施予定です</p>
<%= form_with model: @list, local:true do |f| %>
<h5>タイトル</h5>
 <%= f.text_field :title %>
 <%= f.text_field :body %>
 <%= f.submit '投稿' %>